<style type="text/css">
#portfolio {
	width: 300px;
	height: 300px;
	border: 1px solid #ee3680;
	background-color: #1e1b1c;
	margin-left: 40px;
	border-radius: 10px;
	float: left;
}

#box{
	width: 800px;
	height: 301px;
}

#form{
	width: 420px;
	height: 300px;
	border: 1px solid #ee3680;
	background-color: #1e1b1c;
	float: right;
	border-radius: 10px;		
}

.text{
	font-family:"Lucida Calligraphy";
	font-size: 22px;
	color: #ee3680;
	text-align: left;
	padding: 15px;
}

</style>
<div id="box">
	<div id="portfolio">
		<div class="text">
			<br>
			<%= link_to "Cartazes", portfolio_path, :style => 'text-decoration: none; color: #ee3680; padding-left:10px;' %>
			<br><br>
			<%= link_to "Fotografia", fotografia_path, :style => 'text-decoration: none; color: #faf9f9; padding-left:10px;' %>
			<br><br>
			<%= link_to "Editorial", editorial_path, :style => 'text-decoration: none; color: #ee3680; padding-left:10px;' %>
		</div>	
	</div>

	<div id="form">
		
	</div>
</div>
