<%= stylesheet_link_tag "index.css.scss" %>
<div id="home">
	<div class="text">
		<br>
		Meu nome é Marcia, tenho 22 anos e curso designer gráfico na Uniso Sorocaba.
		<br><br>
		Tenho conhecimento em Ilustrator, Corel Draw, Photoshop, Blender e Indesign.
		<br><br>
		Amo arte, tecnologia e games.
	</div>	
</div>