<style type="text/css">
#home {
	width: 300px;
	height: 300px;
	border: 1px solid #ee3680;
	background-color: #1e1b1c;
	margin-left: 40px;
	border-radius: 10px; 
}

.text{
		font-family: "Arial"; 
		font-size: 19px; 
		color: #faf9f9;
		padding: 15px;
		text-align: left;
	}

</style>
<div id="home">
	<div class="text">
		<br>
		Meu nome é Marcia, tenho 22 anos e curso designer gráfico na Uniso Sorocaba.
		<br><br>
		Tenho conhecimento em Ilustrator, Corel Draw, Photoshop, Blender e Indesign.
		<br><br>
		Amo arte, tecnologia e games.
	</div>	
</div>